<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../public/script/angular.min.js"></script>
	<link rel="stylesheet" href="../public/style/style.css">
</head>
<body onload="times()">
	<div id="background"></div>
	<div id="bg" class="login">

		<!-- Header -->
		<div id="bg-header" class="flex">
			<table>
			  <tr>
			      <td id="logo">
			          <img src="../public/img/logo.png" height="115" alt="Logo">
			      </td>
			      <td id="label">
			          <div id="label-1" align="center">UNIKOM</div>
			          <div id="label-2" align="center">UNIVERSITAS KOMPUTER INDONESIA</div><br>
			          <div id="label-3" align="center">Quality Is Our Tradition</div>
			      </td>
			  </tr>
			</table>

			<div id="header-img">
			  <img src="../public/img/bg-header.png" alt="bg-header">
			</div>
		</div>

		<!-- form login -->
		<div id="bg-main" class="flex">
			<div id="bg-row" class="">
                <div id="header" class="flex">SELAMAT DATANG</div>
                <div id="main" class="flex">
                    <table border="0" class="">
                        <tr>
                            <td>USERNAME<td>: <input type="text" name="username" required ng-model="user.username"></td>
                        </tr>
                        <tr>
                            <td>PASSWORD<td>: <input type="password" name="password" required ng-model="user.password"></td>
                        </tr>
                    </table>
                    
                    <div id="error" class="flex">
						{{msgText}}
                    </div>
                </div>
                <div id="footer" class="flex">
                    <input type="button" value="LOGIN" ng-click="login(user)">
                </div>
			</div>
		</div>
		
		<!-- Footer -->
		<div id="footer" class="flex">
			<div id="footer-time"></div>
			<marquee behavior="" direction="">
				BIRO ADMINISTRASI AKADEMIK DAN KEMAHASISWAAN UNIKOM
			</marquee>
		</div>

	</div>

	<script src="../controller/controller.js"></script>
	<script src="../public/script/client.js"></script>
</body>
</html>