<div class="container" style="margin-top: 20px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">LOGIN</h3>
        </div>
        <div class="panel-body">
            <form role="form" name="form1">
                <div class="form-group">
                    <p>Welcome : </p>
                    <label>Email</label>
                    <input name="inputUsername" type="text" placeholder="Input username"
                           class="form-control" required ng-model="user.username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" placeholder="Password" class="form-control" required ng-model="user.password">
                </div>
                <button class="btn btn-default" type="submit" ng-disabled="form1.$invalid" ng-click="login(user)">Submit</button>
                <p>{{msgText}}</p>
            </form>
        </div>
    </div>
</div>